{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": ["error", "always"],
    "@typescript-eslint/no-empty-function": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.ts", "**/*.test.js"] }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off"
  }
}
