.DS_STORE
.vscode
.idea

node_modules
coverage
.eslintcache
*.tsbuildinfo
dist

website/blog
website/build
website/node_modules
website/i18n/*.js
website/translated_docs
website/static

tmp
lib/tmp

lerna-debug.log
npm-debug.log*
yarn-error.log*
