sudo: required
services:
  - docker
language: node_js
node_js:
  - "4"
  - "5"
  - "6"
  - "node"
before_install:
  - docker pull ubuntu:16.04
  - wget https://raw.githubusercontent.com/PowerShell/PowerShell/v6.0.0-alpha.16/tools/download.sh
  - sudo chmod +x download.sh
  - sudo ./download.sh
before_script:
  - npm install -g gulp
script:
  - npm run build
  - npm run test:coveralls
branches:
  only:
    - master
cache:
  directories:
  - $HOME/.npm
